<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body class="flex-cc">
    <section id="bgColored" class="w100"></section>
    <!-- app container -->
    <main id="root">
        <!-- colonna sinistra -->
        <section id="leftBar">
            <div class="upperBar w100">

            </div>
            <!-- disable notifications -->
            <div id="notifications" class="w100">
            </div>
            <!-- search bar -->
            <div id="searchBar" class="w100">
                <input class="w100" type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
            <!-- contacts/chat list -->
            <div id="chatList" class="w100">
                <ul>
                    <li class="chatListElem w100" v-for="(element, index) in contacts" @click="user = index">
                        <img class="imgRounded" v-bind:src="element.avatar" alt="">
                        <div class="contactInfo">
                            <h5>{{element.name}}</h5>
                            <p>{{element.messages[lastMessage(index)].message}}</p>
                        </div>
                        <span id="lastMessageDate">
                            {{element.messages[lastMessage(index)].date.substr(11, 8)}}
                        </span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- colonna destra -->
        <section id="rightBar">
            <!-- friend profile -->
            <div class="upperBar w100">

            </div>
            <!-- chat container -->
            <div id="chatContainer" class="w100">
                <ul>
                    <li class="rowChat" v-for="(element) in contacts[user].messages" v-bind:class="element.status == 'sent' ? 'rightFlex' : ''">
                        <div class="chat" v-bind:class="element.status == 'received' ? 'receivedMsg' : 'sentMsg'">
                            <!-- message -->
                            <div id="msgContent">
                                {{element.message}}
                            </div>
                            <!-- date -->
                            <div id="msgDate">
                                {{element.date.substr(11, 8)}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- bottom text area -->
            <div class="bottomBar">
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </section>
    </main>

    <script src="https://moment.github.io/luxon/global/luxon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>