*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #D7DBD6;
    font-family: sans-serif;
}

.w100{
    width: 100%;
}

#bgColored{
   background-color: #009688;
   height: 150px; 
   position: fixed;
   top: 0;
   z-index: -1;
}

#root{
    background-color: #F5F5F1;
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

.flex-cc{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* left column */

#leftBar{
    width: 40%;
}    

#rightBar{
    width: 60%;
}    

.upperBar{
    background-color: #EAEAEA;
    height: 50px;
}

.upperSettings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.upperSettings span{
    gap: 15px;
    margin-right: 6px;
    opacity: 0.5;
}

.user{
    display: flex;
    align-items: center;
    gap: 10px
}



#notifications{
    background-color: #8EDAFC;
    height: 50px;
    display: flex;
    padding: 5px 10px;
    align-items: center;
}

#notificationButton a{
    font-size: 13px;
    color: black;
    opacity: 0.7;
}

#bell{
    color: #8EDAFC;
    background-color: white;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

#searchBar{
    background-color: #EAEAEA ;
    padding: 10px;
}

#searchBar input{
    border: #cecdcd 1px solid;
    padding: 5px;
    border-radius: 5px;
}

#chatList{
    height:calc(100% - (50px + 47px + 60px) );
    overflow-y: scroll;
}

#leftBar .upperBar{
    border-right: #cecdcd 1px solid;
}

#rightBar .upperBar{
    border-left: #cecdcd 1px solid;
}

/* single element in the chat list */
.chatListElem{
    height: 60px;
    padding: 5px;
    border: #cecdcd 1px solid;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    position: relative;
}

.chatListElem:hover{
    background-color: #E9EBEB;
}

.imgRounded{
    border-radius: 50%;
    height: 40px;
}

.contactInfo{
    width: 50%;
    height: 35px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.contactInfo p{
    margin-top: 5px;
    font-size: 13px;
    opacity: 0.5;
}

#lastMessageDate{
    font-size: 11px;
    opacity: 0.5;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* right bar */
#chatContainer{
    height: calc(100% - (50px + 50px));
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}
#chatContainer ul{
    position: relative;
}

.bottomBar{
    height: 50px;
    background-color: #F3EEEA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
}

.bottomBar input{
    width: 75%;
    height: 60%;
    border: #cecdcd 1px solid;
    padding: 5px;
    border-radius: 5px;

}

.bottomBar i{
    font-size: 22px;
    opacity: 0.5;
}

.chat{
    width: max-content;
    max-width: 80%;
    padding: 10px 10px 20px 10px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}

.receivedMsg{
    background-color: #F3EEEA;
}

.sentMsg{
    background-color: #D5F9BA;
}

.rightFlex{
    justify-content: flex-end;
}

.rowChat{
    display: flex;
}

#msgContent{
    margin-right: 20px;
    flex-basis: 85%;
}

#msgDate{
    position: absolute;
    bottom: 3px;
    right: 3px;
    margin-left: 10px;
    font-size: 13px;
    flex-basis: 15%;
}
