*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #D7DBD6;
}

.w100{
    width: 100%;
}

#bgColored{
   background-color: #009688;
   height: 150px; 
   position: fixed;
   top: 0;
   z-index: -1;
}

#root{
    background-color: #F5F5F1;
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

#leftBar{
    width: 40%;
}

#rightBar{
    width: 60%;
}

.flex-cc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.upperBar{
    background-color: #EAEAEA;
    height: 50px;
}

#notifications{
    background-color: #8EDAFC;
    height: 60px;
}

#searchBar{
    background-color: #EAEAEA ;
    padding: 10px;
}

#searchBar input{
    border: #cecdcd 1px solid;
    padding: 5px;
    border-radius: 5px;
}

#chatList{
    height:calc(100% - (50px + 47px + 60px) );
    overflow-y: scroll;
}

#leftBar .upperBar{
    border-right: #cecdcd 1px solid;
}

#rightBar .upperBar{
    border-left: #cecdcd 1px solid;
}

/* single element in the chat list */
.chatListElem{
    height: 60px;
    padding: 5px;
    border: #cecdcd 1px solid;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.imgRounded{
    border-radius: 50%;
    height: 40px;
}

.contactInfo{
    width: 50%;
    height: 35px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.contactInfo p{
    margin-bottom: 10px;
    font-size: 13px;
}

/* right bar */
#chatContainer{
    height: calc(100% - (50px + 50px));
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
    display: flex;
    justify-content: space-between;
}

.bottomBar{
    height: 50px;
    background-color: #F3EEEA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
}

.bottomBar input{
    width: 75%;
    height: 60%;
    border: #cecdcd 1px solid;
    padding: 5px;
    border-radius: 5px;

}

.bottomBar i{
    font-size: 22px;
    opacity: 0.5;
}

.chat{
    width: 80%;
    padding: 5px;
}

